html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}
button{
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
html, body{
  max-width: 100%;
  overflow-x: hidden;
}
